* text=auto
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.cff text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.npz binary
*.npy binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.xlsx binary
*.pt binary
*.bag binary
*.ply text eol=lf
